{
  "ignorePatterns": [
    "**/node_modules"
  ],
  "extends": [
    "tsdx"
  ],
  "settings": {
    "react": {
      "version": "16"
    }
  },
  "rules": {
    "react/react-in-jsx-scope": "off",
    "jsx-a11y/anchor-is-valid": "off"
  }
}
